{% extends 'adminbase.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Light Bootstrap Table Heading</h4>
                            <p class="category">Created using Roboto Font Family</p>
                        </div>
                        <div class="content">

                            <div class="typo-line">
                                <h2><p class="category">Small Tag</p>Header with small subtitle <br><small>".small" is a tag for the headers</small> </h2>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
